name: .NET Core Desktop

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    env:
      Solution_Name: "DS Game Maker.sln"
      # Configuration is set to Release for the final artifact
      Configuration: Release 

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup .NET 9.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore "${{ env.Solution_Name }}"

    - name: Build application
      run: dotnet build "${{ env.Solution_Name }}" --configuration ${{ env.Configuration }} --no-restore

    - name: Publish application
      # We use --no-build here because we just built it in the previous step
      run: dotnet publish "${{ env.Solution_Name }}" --configuration ${{ env.Configuration }} --no-build --output ./publish_output

    - name: Upload a build artifact
      uses: actions/upload-artifact@v4
      with:
        name: DS-Game-Maker-Snapshot
        path: ./publish_output